.user-list-body{
    background-color: antiquewhite;
}
.adduser{
    background-color: rgb(113, 189, 189);
}
.id{
    background-color: rgb(140, 205, 184);
    border-radius: 10px;
}
.button-delete{
    background-color: rgb(140, 140, 204);
    color: black;
}
.button-edit{
    background-color: rgb(233, 72, 72);
    color: white;
}
.button-add{
    background-color: rgb(170, 129, 209);
    color: azure;
}
.button-submit{
    background-color: rgb(226, 149, 94);
    color: white;
}
.tbody{
    background-color: rgb(153, 204, 206);


}
.button-update{
    background-color: rgb(156, 228, 228);
}
.edit-page-body{
    background-color: darkgrey;
}





tr:hover {
    background-color: #50a589; 
  }
  

thead {
    background-color: #c14141; /* Background color for the header */
  }
  
 
